.env
.env.*
*.log
.DS_Store

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

__pycache__/
*.pyc
*.pyo
.venv/
venv/

docker-compose.override.yml

.vscode/
.idea/

chat_bot_oltp/

faiss.index
metadata.json

Thumbs.db

chatbot_poc_backendapi/base_conhecimento/**/*.json
chatbot_poc_backendapi/base_conhecimento/**/*.pdf